@use '../../../../shared/styles/main';

.tv-browse-content {
    display: flex;
    flex-direction: column;
    background-image: var(--img-src);
    background-size: cover;
    transition: background-image 0.2s ease-out;
    height: 100%;

    .content {
        backdrop-filter: blur(40px);
        background-color: adjust-color(
            $color: main.$color-bg-main,
            $alpha: -0.1
        );
        overflow-y: hidden;
        flex: 1;
        padding-top: 2rem;
        .group {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 1rem;
            padding-bottom: 1rem;
            .title {
                font-size: 1.5rem;
                font-weight: 500;
                padding: 1rem 0 1rem 2rem;
            }
            .items {
                --card-height: 18rem;
                position: relative;
                display: flex;
                align-items: center;
                overflow-x: hidden;
                padding: 0 2rem;
                height: calc(var(--card-height) * 1.2 + 1rem);
                .media-card-tv {
                    height: var(--card-height);
                }
            }
        }
    }
}
