$hue: 272;
$color-main: hsl($hue, 80%, 50%);
$color-main-hl: hsl($hue, 80%, 55%);
$color-main-hl-1: hsl($hue, 80%, 60%);
$color-bg-dark: hsl($hue, 15%, 5%);
$color-bg-main: hsl($hue, 20%, 8%);
$color-bg-main-hl: hsl($hue, 20%, 18%);
$color-bg-secondary: hsl($hue, 40%, 18%);
$color-bg-secondary-hl: hsl($hue, 40%, 28%);
$color-text: white;
$color-text-disabled: hsl($hue, 20%, 60%);

:root {
    --hue: #{$hue};
    --color-main: #{$color-main};
    --color-main-hl: #{$color-main-hl};
    --color-main-hl-1: #{$color-main-hl-1};
    --color-bg-dark: #{$color-bg-dark};
    --color-bg-main: #{$color-bg-main};
    --color-bg-main-hl: #{$color-bg-main-hl};
    --color-bg-secondary: #{$color-bg-secondary};
    --color-bg-secondary-hl: #{$color-bg-secondary-hl};
    --color-text: #{$color-text};
    --color-text-disabled: #{$color-text-disabled};
    --scrollbar-width: 7px;
    --side-panel-width: 10rem;
    --side-panel-padding-horizontal: 2rem;
    --navbar-height: 1.8rem;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: calc(var(--scrollbar-width) * 0.5);
    
    &:hover {
        background-color: var(--color-main-hl);
    }
}


body {
    background-color: var(--color-bg-main);
    color: var(--color-text);
    user-select: none;
}

button:not(.navbar-btn) {
    background-color: var(--color-main);
    border: 2px solid var(--color-main);
    color: var(--color-text);
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-weight: 600;
    .icon {
        padding-top: 3px;
    }
    transition:
        background 0.15s ease-out,
        border 0.15s ease-out;

    &:hover {
        background-color: var(--color-main-hl);
        border-color: var(--color-main-hl);
    }

    &:active {
        background-color: var(--color-main-hl-1);
        border-color: var(--color-main-hl-1);
    }

    &.secondary {
        background-color: #00000000;
        border: 2px solid var(--color-main);

        &:hover {
            border-color: var(--color-main-hl);
        }
        &:active {
            border-color: var(--color-main-hl-1);
        }
    }
}


.extra-info-row {
    opacity: 0.7;
    padding-left: 0rem;
    margin-top: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    li:first-child {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        margin-left: 2rem;
    }
}

.click-bop {
    .icon {
        transition: transform 0.05s ease-out;
    }
}
.click-bop:active .icon {
    transform: translateY(-0.15rem);
}

.disabled {
    color: var(--color-text-disabled);
}

.color {
    aspect-ratio: 1;
    width: 200px;
    background-color: white;
    margin: 0.5rem;
}

.color-1 {
    background-color: var(--color-main);

    &:hover {
        background-color: var(--color-main-hl);
    }
}

.color-2 {
    background-color: var(--color-bg-main);
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 50%;
        bottom: 1rem;
        background-color: var(--color-bg-main-hl);
    }
}

.color-3 {
    background-color: var(--color-bg-secondary);
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 50%;
        bottom: 1rem;
        background-color: var(--color-bg-secondary-hl);
    }
}

.color-4 {
    background-color: var(--color-text);
}

.color-5 {
    background-color: var(--color-text-disabled);
}
